.lots
  width: 940px
  margin: auto
  .lot
    margin: 5px
    display: inline-block
    width:  170px
    text-align: center
    vertical-align: top
    .photo
      height: 150px
      line-height: 150px
      img
        margin: auto
        vertical-align: middle
.single-lot
  text-align: center
  width: 940px
  margin: auto
  .slogan
    font-size: 14pt
    font-style: italic
    height: 40px
  .photo_and_bets
    height: 400px
  .photo, .bets
    display: inline-block
  .photo
    width: 500px
    img
      max-height: 400px
      border-radius: 10px
  .bets
    width: 310px
    vertical-align: top
    margin-top: 25px
    margin-right: 10px
    #bet_value_input
      width: 150px
      display: inline-block
    input.btn
      vertical-align: top
    ul
      text-align: left
      list-style: none
      .current
        font-weight: bold
      li
        margin-bottom: 5px
        .time
          text-align: right
          font-style: italic
          color: #aaa
          padding-right: 10px


.arrow
  margin: 10px
  border-radius: 15px
  display: inline-block
  height: 30px
  line-height: 30px
  width: 30px
  vertical-align: top
  margin-top: 180px
  background-color: #ddd
  i
    padding: 0
    color: #000
    text-decoration: none
